:root {
  color: #dfe7ef;
  background-color: #0c0f14;
  font-family: "HarmonyOS Sans", "Segoe UI", "PingFang SC", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
